{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key" : {
        "UserId" : $util.dynamodb.toDynamoDBJson($ctx.args.UserId)
    },
    "attributeValues" : {
        "Username" : $util.dynamodb.toDynamoDBJson($ctx.args.Username)
    }
}